<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:replace="layout/plantilla :: header" />

    <body>
        <section th:replace="categoria/fragmentosCategoria :: botonesAgregar"/>
        <section th:replace="categoria/fragmentosCategoria :: agregarCategoria"/>
        <section th:replace="categoria/fragmentosCategoria :: listadoCategorias"/>
        <footer th:replace="layout/plantilla :: footer" />

        

    </body>
</html>
